footer{
    display: flex;
    flex-direction: column;
    background-color: #222222;
    margin-top: 30px;
}

footer p{
    color: #fff;
    margin: auto;
    margin-top: 20px;
    font-weight: bold;
}

footer div{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    margin: auto;
    margin-top: 20px;

}

footer img{
    cursor: pointer;
}