header{
    display: flex;
}

.navlist{
    list-style: none;
    display: flex;
    padding-top: 40px;
}

.navlist li{
    margin-left: 30px;
}

.logo{
    width: 130px;
    padding-left: 150px;
}

#search{
    height: 15px;
    margin-top: 58px;
    margin-left: 40px;
}

.lupa{
    width: 30px;
    height: 30px;
    margin-top: 50px;
    margin-left: 30px;
    cursor: pointer;
}

.mala{
    width: 500px;
    padding-left: 100px;
    margin-top: 30px;
}

section{
    display: flex;
}

.text{
    width: 50%;
}

h1{
    font-size: 50px;
    color: #12426A;
    text-align: center;
    padding-left: 50px;
    margin-top: 40px;
}

section p{
    text-align: center;
    padding-left: 50px;
    font-size: 20px;
    color: #12426A;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: #222222;
    margin-top: 30px;
}

footer p{
    color: #fff;
    margin: auto;
    margin-top: 20px;
    font-weight: bold;
}

footer div{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    margin: auto;
    margin-top: 20px;

}

footer img{
    cursor: pointer;
}