header{
    display: flex;
}

.navlist{
    list-style: none;
    display: flex;
    padding-top: 40px;
}

.navlist li{
    margin-left: 30px;
}

.logo{
    width: 130px;
    padding-left: 150px;
}

#search{
    height: 15px;
    margin-top: 58px;
    margin-left: 40px;
}

.lupa{
    width: 30px;
    height: 30px;
    margin-top: 50px;
    margin-left: 30px;
    cursor: pointer;
}
